
<div class="container">
  <div class="containerSeparator">
    <h1 class="separador-texto">Informaci&oacute;n del aspirante</h1>
  </div>

  <form #ngfpr (ngSubmit)="saveData(templateModific)" #templateModific="ngForm">

    <table class="example-full-width" cellspacing="20">
      <mat-form-field class="example-full-width">
        <mat-label>Id Aspirante</mat-label>
        <input matInput disabled value="{{dataAspirantBachillerate.id}}{{dataAspirantBachillerate.aspirant.tipoAspirant}}">
      </mat-form-field>
      <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput name="nameAsp" [(ngModel)]="dataAspirantBachillerate.aspirant.name">
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput name="lastNamePAsp" [(ngModel)]="dataAspirantBachillerate.aspirant.lastNameP">
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Apellido Materno</mat-label>
            <input matInput name="lastNameMAsp" [(ngModel)]="dataAspirantBachillerate.aspirant.lastNameM">
          </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Curp</mat-label>
            <input matInput name="curpAsp" [(ngModel)]="dataAspirantBachillerate.aspirant.curp">
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>sex</mat-label>
            <input matInput name="sexAsp" [(ngModel)]="dataAspirantBachillerate.aspirant.sex">
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Tipo Sangre</mat-label>
            <input matInput name="tSangreAsp" [(ngModel)]="dataAspirantBachillerate.aspirant.bloodType">
          </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Escuela de Origen</mat-label>
            <input matInput name="schoolOriginAspirantBachillerate" [(ngModel)]="dataAspirantBachillerate.schoolOrigin">
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input matInput name="phoneAspirantBachillerate" [(ngModel)]="dataAspirantBachillerate.phone">
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Correo Electronico</mat-label>
            <input matInput name="emailAspirantBachillerate" [(ngModel)]="dataAspirantBachillerate.email">
          </mat-form-field></td>
      </tr>
    </table>

    <mat-form-field class="example-full-width">
      <mat-label>Condici&oacute;n Medica</mat-label>
      <input matInput name="conditAsp" [(ngModel)]="dataAspirantBachillerate.aspirant.conditionS">
    </mat-form-field>

    <!--& _________________________________Direccion _______________________________ -->
    <div class="containerSeparator">
      <h1 class="separador-texto">Informaci&oacute;n de la Direcci&oacute;n</h1>
    </div>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>N&uacute;mero</mat-label>
            <input matInput name="numberAspAdr" [(ngModel)]="dataAspirantBachillerate.aspirant.address.number">
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Calle</mat-label>
            <input matInput name="streetAspAdr" [(ngModel)]="dataAspirantBachillerate.aspirant.address.street">
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Colonia</mat-label>
            <input matInput name="colonyAspAdr" [(ngModel)]="dataAspirantBachillerate.aspirant.address.colony">
          </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Municipio</mat-label>
            <input matInput name="municipalyAspAdr" [(ngModel)]="dataAspirantBachillerate.aspirant.address.municipality">
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Postal Code</mat-label>
            <input matInput name="postalAspAdr" ngModel  #postalCode maxlength="5" placeholder="XXXXX" value="{{dataAspirantBachillerate.aspirant.address.postal_code}}">
            <mat-hint align="end">{{postalCode.value.length}}  / 5</mat-hint>
          </mat-form-field></td>
      </tr>
    </table>

    <!-- &________________________________Padre/Tutor_________________________ -->
    <div class="containerSeparator">
      <h1 class="separador-texto">Informaci&oacute;n de Padre(s) o Tutor(es)</h1>
    </div>
    <div *ngFor="let fatherTutor of dataAspirantBachillerate.aspirant.fatherTutor, let i= index ">
      <div class="containerSeparator">
        <h1 class="separador-texto-padre">Informaci&oacute;n {{i+1}}</h1>
      </div>
      <table class="example-full-width" cellspacing="20">
        <tr>
          <td><mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput name="NameFather{{i}}" [(ngModel)]="fatherTutor.name" >
            </mat-form-field></td>

          <td><mat-form-field class="example-full-width">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput name="lastNamePFather{{i}}" [(ngModel)]="fatherTutor.lastNameP">
            </mat-form-field></td>

          <td><mat-form-field class="example-full-width">
              <mat-label>Apellido Materno</mat-label>
              <input matInput name="lastNameMFather{{i}}" [(ngModel)]="fatherTutor.lastNameM">
            </mat-form-field></td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
              <mat-label>Correo Electronico</mat-label>
              <input matInput name="emailFather{{i}}" [(ngModel)]="fatherTutor.email">
            </mat-form-field></td>

          <td><mat-form-field class="example-full-width">
              <mat-label>Telefono 1</mat-label>
              <input matInput name="phone1Father{{i}}" [(ngModel)]="fatherTutor.phone1">
            </mat-form-field></td>

          <td><mat-form-field class="example-full-width">
              <mat-label>Telefono 2</mat-label>
              <input matInput name="phone2Father{{i}}" [(ngModel)]="fatherTutor.phone2">
            </mat-form-field></td>
        </tr>
      </table>

    </div>

    <div class="containerB">
      <div class="space"></div>
      <div class="space">
        <button mat-raised-button type="submit"
          style="color: white; background-color: #1A73E8;">Aceptar</button>
      </div>
      <div class="space"></div>
      <div class="space">
        <button mat-raised-button (click)="goBack()" style="color: white; background-color: #f36262;">Cancelar</button>
      </div>
      <div class="space"></div>
    </div>
  </form>
 </div>
