<div class="containerSeparator">
  <h1 class="separador-texto">Informacion del Aspirante</h1>
</div>
<div class="container">
  <form>
    <div>
      <div class="leftcontact">
        <div class="form-group">
          <p>ID</p>
          <div class="borderContent">
            <span class="icon-case"></span>
            <mat-label class="labelContent">{{dataAspirant.id}}{{dataAspirant.tipoAspirant}} </mat-label>
          </div>
        </div>
        <div class="form-group">
          <p>Apellido Paterno</p>
          <div class="borderContent">
            <span class="icon-case"></span>
            <mat-label class="labelContent">{{dataAspirant.lastNameP}}</mat-label>
          </div>
        </div>
        <div class="form-group">
          <p>Curp</p>
          <div class="borderContent">
            <span class="icon-case"></span>
            <mat-label class="labelContent">{{dataAspirant.curp}}</mat-label>
          </div>
        </div>
        <div class="form-group">
          <p>Sexo</p>
          <div class="borderContent">
            <span class="icon-case"></span>
            <mat-label class="labelContent">{{dataAspirant.sex}}</mat-label>
          </div>
        </div>
      </div>

      <div class="rightcontact">

        <div class="form-group">
          <p>Nombre</p>
          <div class="borderContent">
            <span class="icon-case"></span>
            <mat-label class="labelContent">{{dataAspirant.name}} </mat-label>
          </div>
        </div>
        <div class="form-group">
          <p>Apellido Materno</p>
          <div class="borderContent">
            <span class="icon-case"></span>
            <mat-label class="labelContent">{{dataAspirant.lastNameM}} </mat-label>
          </div>
        </div>
        <div class="form-group">
          <p>Condicion/Enfermedad</p>
          <div class="borderContent">
            <span class="icon-case"></span>
            <mat-label class="labelContent">{{dataAspirant.conditionS}}</mat-label>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>

<div class="containerSeparator">
  <h1 class="separador-texto">Informacion de la direcci&ograve;n</h1>
</div>

<div class="container">
  <form>
    <div>
      <div class="leftcontact">
        <div class="form-group">
          <p>Calle</p>
          <div class="borderContent">
            <span class="icon-case"></span>
            <mat-label class="labelContent">{{dataAspirant.address.street}}</mat-label>
          </div>
        </div>
        <div class="form-group">
          <p>Colonia</p>
          <div class="borderContent">
            <span class="icon-case"></span>
            <mat-label class="labelContent">{{dataAspirant.address.colony}}</mat-label>
          </div>
        </div>
        <div class="form-group">
          <p>Codigo Postal</p>
          <div class="borderContent">
            <span class="icon-case"></span>
            <mat-label class="labelContent">{{dataAspirant.address.postal_code}}</mat-label>
          </div>
        </div>
      </div>

      <div class="rightcontact">
        <div class="form-group">
          <p>Numero</p>
          <div class="borderContent">
            <span class="icon-case"></span>
            <mat-label class="labelContent">{{dataAspirant.address.number}}</mat-label>
          </div>
        </div>
        <div class="form-group">
          <p>Municipio/p>
          <div class="borderContent">
            <span class="icon-case"></span>
            <mat-label class="labelContent">{{dataAspirant.address.municipality}}</mat-label>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>

<div class="containerSeparator">
  <h1 class="separador-texto">Informacion Padre o Tutor</h1>
</div>

<div  *ngFor="let fatherTutor of dataAspirant.fatherTutor, let i= index ">
  <div class="containerSeparatorInt">
    <h1 class="separador-textoInt">Informacion Padre o Tutor {{i+1}} </h1>
  </div>
  <div class="container">
    <form>
      <div>
        <div class="leftcontact">
          <div class="form-group">
            <p>Nombre</p>
            <div class="borderContent">
              <span class="icon-case"></span>
              <mat-label class="labelContent">{{fatherTutor.name}}</mat-label>
            </div>
          </div>
          <div class="form-group">
            <p>Apellido Materno</p>
            <div class="borderContent">
              <span class="icon-case"></span>
              <mat-label class="labelContent">{{fatherTutor.lastNameM}}</mat-label>
            </div>
          </div>
          <div class="form-group">
            <p>Telefono 1</p>
            <div class="borderContent">
              <span class="icon-case"></span>
              <mat-label class="labelContent">{{fatherTutor.phone1}}</mat-label>
            </div>
          </div>
        </div>

        <div class="rightcontact">
          <div class="form-group">
            <p>Apellido Paterno</p>
            <div class="borderContent">
              <span class="icon-case"></span>
              <mat-label class="labelContent">{{fatherTutor.lastNameP}}</mat-label>
            </div>
          </div>
          <div class="form-group">
            <p>Correo Electronico</p>
            <div class="borderContent">
              <span class="icon-case"></span>
              <mat-label class="labelContent">{{fatherTutor.email}} </mat-label>
            </div>
          </div>
          <div class="form-group">
            <p>Telefono 2</p>
            <div class="borderContent">
              <span class="icon-case"></span>
              <mat-label class="labelContent">{{fatherTutor.phone2}}</mat-label>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
