<mat-toolbar>
  <span>Aspirantes Preescolar</span>
  <span class="toolbar-item-spacer"> </span>
  <mat-form-field>
    <mat-label> Buscar <mat-icon>search </mat-icon></mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Dato Aspirante" #input>
  </mat-form-field>
</mat-toolbar>

<div *ngIf="dataVacio===false" class="container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="">

    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element, let i= index"> {{i+1}}{{element.tip_asp}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastNameP">
      <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
      <td mat-cell *matCellDef="let element"> {{element.lastNameP}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastNameM">
      <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
      <td mat-cell *matCellDef="let element">{{element.lastNameM}}</td>
    </ng-container>

    <ng-container matColumnDef="curp">
      <th mat-header-cell *matHeaderCellDef> Curp </th>
      <td mat-cell *matCellDef="let element"> {{element.curp}} </td>
    </ng-container>

    <ng-container matColumnDef="operations">
      <th mat-header-cell *matHeaderCellDef> Operaciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="celd-center-icon">
          <a routerLink="/dashboard/View_Aspirant" title="" queryParamsHandling="merge" (click)="clickViewAspirant(element.id)" class="pointer" style="color: #03A600" matTooltip="Ver Aspirante">
            <mat-icon>visibility</mat-icon>
          </a>
          <a class="pointer" style="color: #005DA6;" matTooltip="Modificar Aspirante" title="">
            <mat-icon>edit</mat-icon>
          </a>
          <a class="pointer" (click)="openDialog(element.id, element.name, element.lastNameP, element.lastNameM, element.curp)" style="color: #FF0000;  margin-right: 8px;" title=""
            matTooltip="Eliminar Aspirante">
            <mat-icon>delete</mat-icon>
          </a>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" style="font-size: 20px; " colspan="6">No existen datos que coincidan con la busqueda:
        <br>"{{input.value}}"
      </td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[20, 10, 5]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<div *ngIf="dataVacio!=false ">
  <h2>No existen Usuarios Por mostrar</h2>
</div>
