<div class="container">
  <div class="containerSeparator">
    <h1 class="separador-texto">Informaci&oacute;n del aspirante</h1>
  </div>

  <form>

    <table class="example-full-width" cellspacing="20">
      <mat-form-field class="example-full-width">
        <mat-label>Id Aspirante</mat-label>
        <input matInput disabled value="Google">
      </mat-form-field>
      <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput>
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput>
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Apellido Materno</mat-label>
            <input matInput>
          </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Curp</mat-label>
            <input matInput>
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>sex</mat-label>
            <input matInput>
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Tipo Sangre</mat-label>
            <input matInput placeholder="Ex. San Francisco">
          </mat-form-field></td>
      </tr>
    </table>

    <mat-form-field class="example-full-width">
      <mat-label>Condici&oacute;n Medica</mat-label>
      <input matInput>
    </mat-form-field>
  </form>

  <!--& _________________________________Direccion _______________________________ -->
  <div class="containerSeparator">
    <h1 class="separador-texto">Informaci&oacute;n de la Direcci&oacute;n</h1>
  </div>

  <form>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>N&uacute;mero</mat-label>
            <input matInput>
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Calle</mat-label>
            <input matInput>
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Colonia</mat-label>
            <input matInput>
          </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Municipio</mat-label>
            <input matInput placeholder="Ex. San Francisco">
          </mat-form-field></td>

        <td><mat-form-field class="example-full-width">
            <mat-label>Postal Code</mat-label>
            <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field></td>
      </tr>
    </table>
  </form>

  <!-- &________________________________Padre/Tutor_________________________ -->
  <div class="containerSeparator">
    <h1 class="separador-texto">Informaci&oacute;n de Padre(s) o Tutor(es)</h1>
  </div>

  <table class="example-full-width" cellspacing="20">
    <tr>
      <td><mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput>
        </mat-form-field></td>

      <td><mat-form-field class="example-full-width">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput>
        </mat-form-field></td>

      <td><mat-form-field class="example-full-width">
          <mat-label>Apellido Materno</mat-label>
          <input matInput>
        </mat-form-field></td>
    </tr>
    <tr>
      <td><mat-form-field class="example-full-width">
          <mat-label>Curp</mat-label>
          <input matInput>
        </mat-form-field></td>

      <td><mat-form-field class="example-full-width">
          <mat-label>sex</mat-label>
          <input matInput>
        </mat-form-field></td>

      <td><mat-form-field class="example-full-width">
          <mat-label>Tipo Sangre</mat-label>
          <input matInput placeholder="Ex. San Francisco">
        </mat-form-field></td>
    </tr>
  </table>
</div>
