<mat-toolbar>
  <span>Aspirantes Licenciatura</span>
  <span class="toolbar-item-spacer"> </span>
  <mat-label>No. Aspirantes: ? </mat-label>
  <span class="toolbar-item-spacer"> </span>
  <span>
    <mat-form-field>
      <mat-label> Buscar <mat-icon>search </mat-icon></mat-label>
      <input matInput placeholder="Dato Aspirante" #input>
    </mat-form-field>
  </span>

  <!-- <mat-form-field>
    <mat-label> Buscar <mat-icon>search </mat-icon></mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Dato Aspirante" #input>
  </mat-form-field> -->
</mat-toolbar>

<mat-toolbar>
  <span>
    <mat-form-field appearance="fill">
      <mat-label>Selecciona Licenciatura:</mat-label>
      <mat-select [(value)]="selected" name="lic">
        <mat-option  *ngFor="let lic of dataLic" [value]="lic.name">{{lic.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
</mat-toolbar>

<app-aspirant-licenciature [nombreLicenciature]="selected"> </app-aspirant-licenciature>
